openapi: 3.0.0
x-stoplight:
  id: t8l9nj5zpcru1
info:
  title: Lite API
  description: lite api hotel booking api
  version: 1.0.0
servers:
  - url: 'https://api.nlite.ml/v1'
tags:
  - name: hotels
  - name: bookings
security:
  - ApiKeyAuth: []
paths:
  /data:
    get:
      summary: Search by Destination/Hotel
      tags:
        - hotels
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        hotel_description:
                          type: string
                        hotel_important_information:
                          type: string
                        currency:
                          type: string
                        country:
                          type: string
                        city:
                          type: string
                        location:
                          type: object
                          properties:
                            latitude:
                              type: number
                            longitude:
                              type: number
                        address:
                          type: string
                        zip:
                          type: string
                        is_closed:
                          type: boolean
                        creditcard_required:
                          type: boolean
                x-examples:
                  Example 1:
                    data:
                      - id: 50725
                        name: Ibis Styles Paris Gare Saint Lazare
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.87971
                          longitude: 2.32093
                        address: '9, Rue de Constantinople'
                        zip: '75008'
                        is_closed: false
                        creditcard_required: false
                      - id: 50833
                        name: ibis Styles Paris Eiffel Cambronne
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.84801
                          longitude: 2.30061
                        address: 166 Boulevard de Grenelle
                        zip: '75015'
                        is_closed: false
                        creditcard_required: false
                      - id: 51081
                        name: Ibis Styles Paris Pigalle Montmartre
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.88126
                          longitude: 2.33754
                        address: '3, Rue Frochot'
                        zip: '75009'
                        is_closed: false
                        creditcard_required: false
                      - id: 53211
                        name: ibis Styles Paris Nation Cours de Vincennes
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.84695
                          longitude: 2.40798
                        address: 96 Cours De Vincennes
                        zip: '75012'
                        is_closed: false
                        creditcard_required: false
                      - id: 53546
                        name: ibis Styles Paris Nation Porte De Montreuil
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.85514
                          longitude: 2.40953
                        address: '36, rue de la Croix St Simon'
                        zip: '75020'
                        is_closed: false
                        creditcard_required: false
                      - id: 53690
                        name: ibis Styles Paris Bercy
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.83842
                          longitude: 2.38109
                        address: 77 Rue De Bercy
                        zip: '75012'
                        is_closed: false
                        creditcard_required: false
                      - id: 53931
                        name: ibis Paris Gare de Lyon Reuilly
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.84938
                          longitude: 2.38531
                        address: 9 Rue de Reuilly
                        zip: '75012'
                        is_closed: false
                        creditcard_required: false
                      - id: 54087
                        name: ibis Styles Paris Gare de l'Est Château Landon
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.87917
                          longitude: 2.36216
                        address: 1-3 Rue Du Château Landon
                        zip: '75010'
                        is_closed: false
                        creditcard_required: false
                      - id: 54587
                        name: ibis Styles Paris Gare De Lyon TGV
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.8462
                          longitude: 2.37589
                        address: 28 Bis Bd Diderot
                        zip: '75012'
                        is_closed: false
                        creditcard_required: false
                      - id: 54912
                        name: ibis Paris Opera La Fayette
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.87597
                          longitude: 2.34213
                        address: 19 Rue Buffault
                        zip: '75009'
                        is_closed: false
                        creditcard_required: false
              examples:
                Example 1:
                  value:
                    data:
                      - id: 50725
                        name: Ibis Styles Paris Gare Saint Lazare
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.87971
                          longitude: 2.32093
                        address: '9, Rue de Constantinople'
                        zip: '75008'
                        is_closed: false
                        creditcard_required: false
                      - id: 50833
                        name: ibis Styles Paris Eiffel Cambronne
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.84801
                          longitude: 2.30061
                        address: 166 Boulevard de Grenelle
                        zip: '75015'
                        is_closed: false
                        creditcard_required: false
                      - id: 51081
                        name: Ibis Styles Paris Pigalle Montmartre
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.88126
                          longitude: 2.33754
                        address: '3, Rue Frochot'
                        zip: '75009'
                        is_closed: false
                        creditcard_required: false
                      - id: 53211
                        name: ibis Styles Paris Nation Cours de Vincennes
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.84695
                          longitude: 2.40798
                        address: 96 Cours De Vincennes
                        zip: '75012'
                        is_closed: false
                        creditcard_required: false
                      - id: 53546
                        name: ibis Styles Paris Nation Porte De Montreuil
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.85514
                          longitude: 2.40953
                        address: '36, rue de la Croix St Simon'
                        zip: '75020'
                        is_closed: false
                        creditcard_required: false
                      - id: 53690
                        name: ibis Styles Paris Bercy
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.83842
                          longitude: 2.38109
                        address: 77 Rue De Bercy
                        zip: '75012'
                        is_closed: false
                        creditcard_required: false
                      - id: 53931
                        name: ibis Paris Gare de Lyon Reuilly
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.84938
                          longitude: 2.38531
                        address: 9 Rue de Reuilly
                        zip: '75012'
                        is_closed: false
                        creditcard_required: false
                      - id: 54087
                        name: ibis Styles Paris Gare de l'Est Château Landon
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.87917
                          longitude: 2.36216
                        address: 1-3 Rue Du Château Landon
                        zip: '75010'
                        is_closed: false
                        creditcard_required: false
                      - id: 54587
                        name: ibis Styles Paris Gare De Lyon TGV
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.8462
                          longitude: 2.37589
                        address: 28 Bis Bd Diderot
                        zip: '75012'
                        is_closed: false
                        creditcard_required: false
                      - id: 54912
                        name: ibis Paris Opera La Fayette
                        hotel_description: ''
                        hotel_important_information: ''
                        currency: EUR
                        country: fr
                        city: Paris
                        location:
                          latitude: 48.87597
                          longitude: 2.34213
                        address: 19 Rue Buffault
                        zip: '75009'
                        is_closed: false
                        creditcard_required: false
      operationId: get-data
      parameters:
        - schema:
            type: string
          in: query
          name: hotelName
          description: hotel name
        - schema:
            type: string
          in: query
          name: cityName
          description: city name
        - schema:
            type: string
          in: query
          name: countryCode
          description: 'country code Alpha-2 code (example US, RU, CN)'
          required: true
        - schema:
            type: number
          in: query
          name: limit
          description: limit results (max value 1000)
        - schema:
            type: number
          in: query
          name: offset
          description: results offset
        - schema:
            type: number
          in: query
          name: latitude
          description: latitude geo coordinates
        - schema:
            type: number
          in: query
          name: longitude
          description: longtude geo coordinates
        - schema:
            type: number
          in: query
          name: distance
          description: the distance starting from the selected geopgraphic point
      description: ''
    parameters: []
  /hotels:
    post:
      tags:
        - hotels
      summary: Get Minimum Price for Available Hotels
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                checkin:
                  type: string
                checkout:
                  type: string
                latitude:
                  type: number
                longitude:
                  type: number
                country:
                  type: string
                distance:
                  type: integer
                adults:
                  type: integer
                children:
                  type: string
                currency:
                  type: string
                guestNationality:
                  type: string
              x-examples:
                Example 1:
                  checkin: '2023-03-15'
                  checkout: '2023-03-16'
                  latitude: 41.009336416923006
                  longitude: 28.96179423827173
                  country: TR
                  distance: 500
                  adults: 1
                  children: '12,9'
                  currency: EUR
                  guestNationality: MA
            examples:
              Example 1:
                value:
                  checkin: '2023-03-15'
                  checkout: '2023-03-16'
                  latitude: 41.009336416923006
                  longitude: 28.96179423827173
                  country: TR
                  distance: 500
                  adults: 1
                  children: '12,9'
                  currency: EUR
                  guestNationality: MA
      parameters:
        - name: rid
          in: header
          schema:
            type: string
          example: 888-8888-8888-888
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
                example: true
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: 'Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: 'POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: 'Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition'
            Access-Control-Max-Age:
              schema:
                type: integer
                example: 10
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Date:
              schema:
                type: string
                example: 'Mon, 19 Sep 2022 10:31:37 GMT'
            Content-Length:
              schema:
                type: integer
                example: 658
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - hotelId: '1000018'
                    currency: EUR
                    price: 91.49
                  - hotelId: '436827'
                    currency: EUR
                    price: 97.73
                  - hotelId: '57871'
                    currency: EUR
                    price: 51.49
                  - hotelId: '99249'
                    currency: EUR
                    price: 169.96
                  - hotelId: '26191'
                    currency: EUR
                    price: 210.26
                  - hotelId: '99121'
                    currency: EUR
                    price: 108
                  - hotelId: '268206'
                    currency: EUR
                    price: 128.2
                  - hotelId: '99119'
                    currency: EUR
                    price: 50.17
                  - hotelId: '497829'
                    currency: EUR
                    price: 88.22
                  - hotelId: '28906'
                    currency: EUR
                    price: 137.04
                  - hotelId: '248093'
                    currency: EUR
                    price: 115.26
                session_id: GIYDEMZNGAYS2MJVPQZDAMRTFUYDCLJRGZ6DC7D4JVAXY7CKGVBFC2CZGRXHS2Q
        '400':
          description: Bad Request
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
                example: true
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: 'Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: 'POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: 'Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition'
            Access-Control-Max-Age:
              schema:
                type: integer
                example: 10
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Date:
              schema:
                type: string
                example: 'Mon, 19 Sep 2022 10:33:11 GMT'
            Content-Length:
              schema:
                type: integer
                example: 57
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  code: 2001
                  message: no availability found
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
                example: true
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: 'Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: 'POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: 'Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition'
            Access-Control-Max-Age:
              schema:
                type: integer
                example: 10
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Date:
              schema:
                type: string
                example: 'Mon, 19 Sep 2022 10:34:19 GMT'
            Content-Length:
              schema:
                type: integer
                example: 33
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  code: 401
                  message: Unauthorized
      description: This endpoint allows you to send a list of hotel ID's for a specific date range and in response receive the best rate available for each of the hotel ID's. The limit is set to 200 hotels.
  '/hotels/{hotelId}':
    get:
      tags:
        - hotels
      summary: Get Room Availability & Rates for a Hotel ID
      parameters:
        - name: rid
          in: header
          schema:
            type: string
          example: 888-8888-8888-888
        - name: xid
          in: header
          schema:
            type: string
        - name: checkin
          in: query
          schema:
            type: string
          example: '2023-01-15'
        - name: checkout
          in: query
          schema:
            type: string
          example: '2023-01-16'
        - name: adults
          in: query
          schema:
            type: integer
          example: 1
        - name: guestNationality
          in: query
          schema:
            type: string
          example: MA
        - name: currency
          in: query
          schema:
            type: string
          example: USD
        - name: sessionId
          in: query
          schema:
            type: string
          example: GIYDEMZNGAYS2MJVPQZDAMRTFUYDCLJRGZ6DC7D4JVAXY7DZM5MDMQKKJJAXKZY
        - name: hotelId
          in: path
          schema:
            type: integer
          required: true
          example: 436827
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
                example: true
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: 'Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: 'POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: 'Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization, accept, origin, Cache-Control, X-Requested-With, Content-Disposition'
            Access-Control-Max-Age:
              schema:
                type: integer
                example: 10
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Date:
              schema:
                type: string
                example: 'Mon, 19 Sep 2022 10:59:56 GMT'
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  hotelId: '28906'
                  termsAndConditions: 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                  roomTypes:
                    - roomTypeId: GI4DSMBWGMYA
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTKZINDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHIJIFIU2OJJJEOVK2IRJU4USXJQ2FSVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: King Room with Disability Access - Hearing Accessible - single occupancy - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGM2Q
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTJSKNDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHKZIFIU2OJJJEOVK2IRJU4USXJQ2FSVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Double Room Two Double Beds with Roll in Shower - Disability Access - single occupancy - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGI4A
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJUINDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2IIJIFIU2OJJJEOVK2IRJU4USXJQ2FSVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Double Room with Two Double Beds - Hearing Accessible - Roll in Shower - single occupancy - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGA2A
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQJSINDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHKJIFIU2OJJJEOVK2IRJU4USXJQ2FSVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Room with One King Bed  - single occupancy - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGI3Q
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJTKNDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2HGVIFIU2OJJJEOVK2IRJU4USXJQ2FSVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Double Room with Two Double Beds - Hearing Accessible  - single occupancy - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGAYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQKZKNDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHIZIFIU2OJJJEOVK2IRJU4USXJQ2FSVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Room with Two Double Beds - single occupancy - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGA2A
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQJSINDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHKJIFIU2OJJJEOVK2IRJU4USXJQ2FURRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Room with One King Bed  - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGI3Q
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJTKNDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2HGVIFIU2OJJJEOVK2IRJU4USXJQ2FURRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Double Room with Two Double Beds - Hearing Accessible  - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGAYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQKZKNDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHIZIFIU2OJJJEOVK2IRJU4USXJQ2FURRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Room with Two Double Beds - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGMYA
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTKZINDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHIJIFIU2OJJJEOVK2IRJU4USXJQ2FURRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: King Room with Disability Access - Hearing Accessible - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGM2Q
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTJSKNDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHKZIFIU2OJJJEOVK2IRJU4USXJQ2FURRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Double Room Two Double Beds with Roll in Shower - Disability Access - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGI4A
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJUINDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2IIJIFIU2OJJJEOVK2IRJU4USXJQ2FURRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Double Room with Two Double Beds - Hearing Accessible - Roll in Shower - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGMYA
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTKZINDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHIJIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: King Room with Disability Access - Hearing Accessible - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI4A
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJUINDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2IIJIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Double Room with Two Double Beds - Hearing Accessible - Roll in Shower - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGM2Q
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTJSKNDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHKZIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Double Room Two Double Beds with Roll in Shower - Disability Access - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI3Q
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJTKNDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2HGVIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Double Room with Two Double Beds - Hearing Accessible  - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGA2A
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQJSINDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHKJIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Room with One King Bed  - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGAYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQKZKNDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHIZIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Room with Two Double Beds - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGAYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQKZKNDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHIZIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Room with Two Double Beds
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGA2A
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQJSINDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHKJIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: 'Room with One King Bed '
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI3Q
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJTKNDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2HGVIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: 'Double Room with Two Double Beds - Hearing Accessible '
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGM2Q
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTJSKNDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHKZIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Double Room Two Double Beds with Roll in Shower - Disability Access
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI4A
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJUINDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2IIJIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Double Room with Two Double Beds - Hearing Accessible - Roll in Shower
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGMYA
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTKZINDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHIJIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: King Room with Disability Access - Hearing Accessible
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGQYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOUKZKNDU2SS2I5GVQRCTJ5FFCR2BLFCECSK2KNEECNCUIFHFEVKHIZIFIU2OJJJEOVK2IRJU4USXJQ2FSVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Corner King Room - single occupancy - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 190.18
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 225.22
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGQYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOUKZKNDU2SS2I5GVQRCTJ5FFCR2BLFCECSK2KNEECNCUIFHFEVKHIZIFIU2OJJJEOVK2IRJU4USXJQ2FURRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Corner King Room - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 190.18
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 225.22
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGI3Q
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJTKNDU2SS2JBAVQRCDJVFFCR2BLFCECSK2KNEECNCUIFHFEU2HGVIFIU2OJJJEOVK2IRJU4USXJQ2FUVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Double Room with Two Double Beds - Hearing Accessible  - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 194.22
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 230.01
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGA2A
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQJSINDU2SS2JBAVQRCDJVFFCR2BLFCECSK2KNEECNCUIFHFEUKHKJIFIU2OJJJEOVK2IRJU4USXJQ2FUVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Room with One King Bed  - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 194.22
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 230.01
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGAYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQKZKNDU2SS2JBAVQRCDJVFFCR2BLFCECSK2KNEECNCUIFHFEUKHIZIFIU2OJJJEOVK2IRJU4USXJQ2FUVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Room with Two Double Beds - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 194.22
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 230.01
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGMYA
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTKZINDU2SS2JBAVQRCDJVFFCR2BLFCECSK2KNEECNCUIFHFEVCHIJIFIU2OJJJEOVK2IRJU4USXJQ2FUVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: King Room with Disability Access - Hearing Accessible - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 194.22
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 230.01
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGI4A
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJUINDU2SS2JBAVQRCDJVFFCR2BLFCECSK2KNEECNCUIFHFEU2IIJIFIU2OJJJEOVK2IRJU4USXJQ2FUVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Double Room with Two Double Beds - Hearing Accessible - Roll in Shower - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 194.22
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 230.01
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGM2Q
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTJSKNDU2SS2JBAVQRCDJVFFCR2BLFCECSK2KNEECNCUIFHFEVCHKZIFIU2OJJJEOVK2IRJU4USXJQ2FUVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Double Room Two Double Beds with Roll in Shower - Disability Access - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 194.22
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 230.01
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGMYA
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTKZINDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHIJIFIRKOKJLUOSJTKREU2USRI5NFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: King Room with Disability Access - Hearing Accessible - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI4A
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJUINDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2IIJIFIRKOKJLUOSJTKREU2USRI5NFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Double Room with Two Double Beds - Hearing Accessible - Roll in Shower - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGM2Q
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTJSKNDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHKZIFIRKOKJLUOSJTKREU2USRI5NFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Double Room Two Double Beds with Roll in Shower - Disability Access - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI3Q
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJTKNDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2HGVIFIRKOKJLUOSJTKREU2USRI5NFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Double Room with Two Double Beds - Hearing Accessible  - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGA2A
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQJSINDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHKJIFIRKOKJLUOSJTKREU2USRI5NFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Room with One King Bed  - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGAYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQKZKNDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHIZIFIRKOKJLUOSJTKREU2USRI5NFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Room with Two Double Beds - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGAYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQKZKNDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHIZIFIRKOKJLUOSJTKREU2USRI5NFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Room with Two Double Beds
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGA2A
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQJSINDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHKJIFIRKOKJLUOSJTKREU2USRI5NFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: 'Room with One King Bed '
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI3Q
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJTKNDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2HGVIFIRKOKJLUOSJTKREU2USRI5NFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: 'Double Room with Two Double Beds - Hearing Accessible '
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGM2Q
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTJSKNDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHKZIFIRKOKJLUOSJTKREU2USRI5NFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Double Room Two Double Beds with Roll in Shower - Disability Access
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI4A
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJUINDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2IIJIFIRKOKJLUOSJTKREU2USRI5NFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Double Room with Two Double Beds - Hearing Accessible - Roll in Shower
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGMYA
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTKZINDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHIJIFIRKOKJLUOSJTKREU2USRI5NFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: King Room with Disability Access - Hearing Accessible
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGMYA
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTKZINDU2USSI5KVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHIJIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCHLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: King Room with Disability Access - Hearing Accessible
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 210.78
                                currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 249.61
                                type: amount
                            hotelRemarks:
                              - 'Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply. Swimming pool #1 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22 Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2 is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022'
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI4A
                      maxOccupancy: 1
                      rates:
                        - rateId: 1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJUINDU2USSI5KVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2IIJIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCHLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Double Room with Two Double Beds - Hearing Accessible - Roll in Shower
                          maxOccupancy: 0
                          retailRate:
[...]
